<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <meta charset="UTF-8">
    <title>Sitema Academico P.Web 2016</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'sistemaacademico/style.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <!-- Para ficar adaptavel a tela e mostrar barras de opcoes se a tela estiver menor-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sistema Acadêmico</a>
            </div>

            <!-- Items-->

            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">

                    <li class="">
                        <a href="/sobre">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp; Sobre
                        </a>
                    </li>
                    <li class="">
                        <a href="/admin">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Login Admin
                        </a>
                    </li>

                    <li class="">
                        <a href="/login">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Login Usuario
                        </a>
                    </li>


                </ul>
            </div>

        </div>

    </nav>

    <div align="center" class="alert alert-danger" role="alert">
        <strong>Erro de autenticação!</strong> Verifique usuário e senha e tente novamente!!!
    </div>
    <a href="/login" class="btn btn-md btn-primary">Voltar para Login <span ></span></a>&nbsp
    <a href="/" class="btn btn-md btn-primary">Voltar para Página Inical <span ></span></a>&nbsp<br><br>
</body>
</html>