<head>
{% load staticfiles %}


    <meta charset="UTF-8">
    <title>Portal do Professor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'sistemaacademico/style.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    var data;
    var chart;
    // Load the Visualization API and the piechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.


        function drawChart() {

        // Create our data table.
        data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 5],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'Nota dos Alunos',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        google.visualization.events.addListener(chart, 'select', selectHandler);
        chart.draw(data, options);
      }

      function selectHandler() {
        var selectedItem = chart.getSelection()[0];
        var value = data.getValue(selectedItem.row, 0);
        alert('The user selected ' + value);
      }

    </script>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <!-- Para ficar adaptavel a tela e mostrar barras de opcoes se a tela estiver menor-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sistema Acadêmico</a>
            </div>

            <!-- Items-->

            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">

                    <li class="">
                        <a href="/professor/inicial">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Professor
                        </a>
                    </li>

                    <li class="">
                        <a href="/professor/inicial/notas">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; Notas dos Alunos
                        </a>
                    </li>

                    <li class="">
                        <a href="/professor/inicial/grafico">
                            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp; Gráfico de Performance
                        </a>
                    </li>

                    <li class="">
                        <a href="/professor/inicial/pdf">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Exportar Notas .cvs
                        </a>
                    </li>

                    <li class="">
                        <a href="#"> <!-- adicionar essa url em url -->
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp; Sobre
                        </a>
                    </li>

                    <li class="">
                        <a href="/logout">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>

                </ul>
            </div>

        </div>

    </nav>

</head>
<body>
    {% if request.user.is_staff %}
            {{total_n1.nota1__sum}}
            {{total_n2.nota2__sum}}
            {{total_n3.nota3__sum}}

            <!--Div that will hold the pie chart-->
            <div align="center" id="chart_div" style="width:400; height:300"></div>
    {% else %}
            <div align="center" class="alert alert-danger" role="alert">
                <strong>Erro de autenticação!</strong> Você não tem perfil de acesso para o portal do professor!!!
            </div>
            <a href="/login" class="btn btn-md btn-primary">Voltar para Login <span ></span></a>&nbsp
            <a href="/" class="btn btn-md btn-primary">Voltar para Página Inical <span ></span></a>&nbsp<br><br>
    {% endif %}

</body>
</html>