<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <meta charset="UTF-8">
    <title>Sitema Academico P.Web 2016</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'sistemaacademico/style.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <!-- Para ficar adaptavel a tela e mostrar barras de opcoes se a tela estiver menor-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sistema Acadêmico</a>
            </div>

            <!-- Items-->

            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class=""> <!--"active" -->
                        <a href="/aluno/inicial">
                            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp; Aluno
                        </a>
                    </li>

                    <li class=""> <!--"active" -->
                        <a href="/aluno/inicial/notas">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; Notas
                        </a>
                    </li>

                    <li class=""> <!--"active" -->
                        <a href="/aluno/inicial/historico">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp; Histórico
                        </a>
                    </li>

                    <li class="">
                        <a href="/sobre">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp; Sobre
                        </a>
                    </li>

                    <li class="">
                        <a href="/logout">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>

                </ul>
            </div>

        </div>

    </nav>

</head>
<h2></h2>

    {% if request.user.is_staff %}
            <div align="center" class="alert alert-danger" role="alert">
                <strong>Erro de autenticação!</strong> Você não tem perfil de acesso para o portal do Aluno!!!
            </div>
                <a href="/login" class="btn btn-md btn-primary">Voltar para Login <span ></span></a>&nbsp
                <a href="/" class="btn btn-md btn-primary">Voltar para Página Inical <span ></span></a>&nbsp<br><br>

    {% else %}
        <div class="container">
        <h2>Meu Histórico</h2>

            <table class="table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Média Final</th>
                </tr>
            </thead>
                {% for nota in lista_nota %}
                <tr>
                    <th> {{ nota.disciplina }}</th>
                    <th> {{ nota.media }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>

    {% endif %}

</body>
</html>