<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sitema Academico P.Web 2016</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/sistemaacademico.css' %}">

</head>
<body>
    <div>
         <h1 align="center"><a>Sistema Academico P.WEB 2016</a></h1>
    </div>

    <div>
         <h1><button href="/">Administrador</button></h1>
    </div>

    <div>
         <h1><button href="/">Aluno</button></h1>
    </div>

    <div>
         <h1><button href="/">Professor</button></h1>
    </div>

<h1>Testando pagina inicial</h1>
</body>
</html>