<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <meta charset="UTF-8">
    <title>Informações sobre o sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'sistemaacademico/style.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <!-- Para ficar adaptavel a tela e mostrar barras de opcoes se a tela estiver menor-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sistema Acadêmico</a>
            </div>

            <!-- Items-->

            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">

                    <li class="">
                        <a href="">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp; Sobre
                        </a>
                    </li>

                </ul>
            </div>

        </div>

    </nav>

</head>

    <div>
        <h2 align="center">Sistema Acadêmico 2016.1</h2>

    </div>


      <div class="panel panel-primary">
      <div class="panel-heading">Informações sobre o Sistema Acadêmico</div>
      <div class="panel-body">
        Este sistema foi desenvolvido para disciplina de Programação Web. O sistema disponibiliza portal do aluno
          e do professor.<br> Para o usuário cadastrado como professor é possível realizar o cadastro de notas
      </div>
      </div>

    <div>
        <a align="center" href="/" class="btn btn-lg btn-primary">Voltar para Página Inicial <span class="glyphicon glyphicon-arrow-left"></span></a>&nbsp<br><br>
    </div>

    </div>


</body>
</html>